@CHARSET "UTF-8";
#container{
	height:600px;
	position:relative;
	overflow: hidden;
}
#container .slide{
	height:600px;
	width:80%;
	background:silver;
	left:100%;
	display:none;
	
	
}
#container .slide.active{
	display:block;
	position:relative;
	margin-left:10%;
	left:0;
}
#container .slider-hide{
	display:none;
}
#container #slider-previous{
	position:absolute;
	top:0;
	left:0;
	width:10%;
	text-align: center;
}
#container #slider-next{
	position:absolute;
	top:0;
	right:0;
	width:10%;
	text-align: center;
}
